 <div class="card bg-light mb-3" style="max-width: 18rem;">
 <h5><a href="/games/<%= game.game_id %>"><%= game.name %></a></h5>
 <p><strong>Team size:</strong> <%= game.team_size %></p>
 <p class="card-text"><p><strong>Match duration:</strong> <%= game.duration %></p>
<div class="card-body">
 </div>
 </div>