<div class="card bg-light mb-3" style="max-width: 18rem;">
    <h5> Name:  <a href="/players/<%=player.player_id%>"><%= player.name %></a></h5>
    <p class="card-text"> <p><strong></strong> Email: <%= player.email %></p>
   <div class="card-body">
    </div>
    </div>
