
<%- include('../partials/head') %>
    <h1>Add a game</h1>
    <form action="http://localhost:3000/games/add"  method="post">
        <p>Game name: <input class="form-control" name="name" type="text" width="250px"/></p>
        <p>Match duration: <input class="form-control" name="duration" type="text"/></p>
        <p>Team size:<input class="form-control" name="team_size" type="text"/></p>
        <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Add game</button>
        >
    </form>
</div>
<%- include('../partials/footer') %>

<Css> width : 500</Css>