<div class="d-flex gap-2 justify-content-center py-5">
    <span class="badge d-flex p-2 align-items-center text-bg-primary rounded-pill">
      <span class="px-1">Primary</span>
      <a href="#"><svg class="bi ms-1" width="16" height="16"><use xlink:href="#x-circle-fill"></use></svg></a>
    </span>
    <span class="badge d-flex p-2 align-items-center text-primary-emphasis bg-primary-subtle rounded-pill">
      <span class="px-1">Primary</span>
      <a href="#"><svg class="bi ms-1" width="16" height="16"><use xlink:href="#x-circle-fill"></use></svg></a>
    </span>
    <span class="badge d-flex p-2 align-items-center text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
      <span class="px-1">Primary</span>
      <a href="#"><svg class="bi ms-1" width="16" height="16"><use xlink:href="#x-circle-fill"></use></svg></a>
    </span>
  </div>