<%- include('../partials/head') %>

<div class="container px-5 my-5">
    <div class="alert alert-danger" role="alert">
        Once deleted  it wont return Back
      </div>
    <p> Delete Game?</p>
    <form action="http://localhost:3000/players/delete/<%=player.player_id%>" method="post">
        <input type="hidden" name="name" value="<%=player.name%>" />
        <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Delete Player</button>
    </form>
</div>
<%- include('../partials/footer') %>