<%- include('../partials/head') %>

<body>
    <div class="container">
        <h1>Games</h1>
        <div class="alert alert-success" role="alert">
            <% if (typeof query.name !== "undefinded") { %>
                <p>Last Changed: <%= query.name %></p>
            <% } %>
            </div>
        <div class="row">
            <% gamesArr.forEach((game)=> { %>
                <%- include('../partials/gamedisplay', {game: game}) %>
            <% }) %>
        </div>
    </div>
</body>
<%- include('../partials/footer') %>