<%- include('../partials/head') %>

<body>
    <div class="container">
        <h1>Games</h1>
        <div class="row">
            <% gamesArr.forEach((game)=> { %>
                <%- include('../partials/gamedisplaycopy', {game: game}) %>
            <% }) %>
        </div>
    </div>
</body>
<%- include('../partials/footer') %>