<%- include("../partials/head") %>
        <body> 
            <h1>The Globe</h1>
            <h2> The past seven days has been constant amount of rain</h2>
            <img src="https://www.dailyecho.co.uk/resources/images/2713355/?type=og-image" style="width:400px;height:400px;">
            
        </body>
<%- include("../partials/footer") %>
